* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

header {
  background: #333333;
  color: #fff;
}

.fixedHead {
  padding-top: 23px;
  padding-bottom: 100px;
}

.logoArea {
  float: left;
}

.logoArea img {
  height: 80px;
  margin-right: 80px;
}

.options {
  float: right;
  margin-top: 23px;
}

.options a {
  text-decoration: none;
  color: white;
  padding: 15px;
  font-size: 25px;
  border-radius: 10px;
}

.options a:hover {
  background-color: #ad3333;
  transition-duration: 0.3s;
}

section {
  padding: 40px 20px;
  max-width: 1000px;
  margin: auto;
}

.bannerArea {
  margin-top: -30px;
  background: #fff;
  border-radius: 10px;
  padding: 20px;
}
.bannerArea hr{
  border: none;
  border-bottom: 3px solid gray;
  margin-bottom: 10px;
}

.bannerArea:hover {
  transition-duration: 0.3s;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.bannerArea::after {
  content: "";
  display: table;
  clear: both;
}

.bannerArea .left {
  float: left;
  width: 50%;
}

.bannerArea .right {
  float: right;
  width: 50%;
}

.bannerArea .right img {
  width: 100%;
  border-radius: 10px;
}

.bannerArea h1 {
  color: #990018;
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  text-align: center;
}

.bannerArea h2 {
  color: black;
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  text-align: center;
}

#bannerArea2 {
  margin-top: 20px;
}

#bannerArea2 h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 21px;
}

.bannerArea .left img {
  width: 98%;
  border-radius: 10px;
  height: 305px;
}

.rightImage {
  margin-top: 30px;
  width: 98%;
}

.bannerArea .right p {
  text-align: justify;
}

footer {
  background: black;
  color: #fff;
  text-align: center;
  height: 75px;
}

footer p {
  float: left;
}

footer a {
  color: white;
  padding: 10px;
}

footer a:hover {
  color: aqua;
  transition-duration: 0.3s;
}

.foot {
  padding: 25px;
}

.rightSocial {
  float: right;
}
